<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SEU MARKET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
	
	<link rel="icon" type="image/png" href="./images/logo.png" />

	<script src="./js/function.js"></script>
  </head>
  <body class="goto-here">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    	 <a class="navbar-brand" href="#" style="margin-top: 1%;">
          <img src="./images/logo.png" width="60" height="60" alt="">
        </a>
	      <a class="navbar-brand" href="/">seu market</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span>
	        Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a href="/login" class="nav-link">ENTRAR</a></li>
              <li class="nav-item active"><a href="/cadastro" class="nav-link">CADASTRAR-SE (PRODUTOR)</a></li>
	          <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
	          <li class="nav-item dropdown">
              
            </li>
	          <li class="nav-item"><a href="/contato" class="nav-link">Contato</a></li>
	          <li class="nav-item cta cta-colored"><a href="/carrinho" class="nav-link"><span class="icon-shopping_cart"></span></a></li>

	        </ul>
	      </div>
	    </div>
	</nav>

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Início</a></span></p>
            <h1 class="mb-0 bread">LISTA DE PRODUTOS</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Produto</th>
						        <th>Preço</th>
						        <th>Quantidade</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							<% product.forEach(products => { %>
						      <tr class="text-center">
						        <td class="product-remove">•</td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url(images/cesta-pequena.png);"></div></td>
						        
						        <td class="product-name">
						        	<h3 íd="name<%=products.id %>"><%=products.name %></h3>
						        	<p> <%=products.description %></p>
						        </td>
						        
						        <td class="price">R$<%=products.price %></td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input onchange="alterou(<%=products.id %>,<%=products.price %>,'<%=products.name %>'),total()"  type="text" id="<%=products.id %>" name="quantity" class="quantity form-control input-number" value="0" min="0" max="100">
					          	</div>
					          </td>
							
						        <td  class="total"  > <p id="<%=products.id %>total">R$00.00</p>
									
								</td>
						      </tr>
							<% }) %>
						      
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Dados pessoais</h3>
    					<p>Informe aqui seus dados pessoais para a realização do pedido.</p>
  						<form action="#" class="info">
							<div class="form-group">
								<label for="">Nome completo</label>
								<input type="text" id="nome" class="form-control text-left px-3" placeholder="" required>
							</div>
	           			 </form>
    				</div>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Dados de entrega</h3>
    					<p>Informe aqui os dados para entrega do pedido.</p>
  						<form action="#" class="info">
							<div class="form-group">
								<label for="country">CEP</label>
								<input type="text" id ="cep" class="form-control text-left px-3" placeholder="" required>
							</div>
							<div class="form-group">
								<label for="country">Rua</label>
								<input type="text" id ="rua" class="form-control text-left px-3" placeholder="" required>
							</div>
							<div class="form-group">
								<label for="country">Número</label>
								<input id ="numero" type="text" class="form-control text-left px-3" placeholder="" required>
							</div>
						</form>
    				</div>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Preço</h3>
    					
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span id="valortotal">R$00.00</span>
    					</p>
    				</div>
					<p><a onclick="" class="btn btn-primary py-3 px-4">Calcular Total!</a></p>
    				<p><a onclick="zap()" class="btn btn-primary py-3 px-4">Solicitar pedido!</a></p>
    			</div>
    		</div>
			</div>
		</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
		<div class="container py-4">
			<div class="row d-flex justify-content-center py-5">
			<div class="col-md-6">
				<h2 style="font-size: 22px;" class="mb-0">Cadastre-se para receber noticías</h2>
				<span>Receba atualizações por email de produtos e ofertas especiais</span>
			</div>
			<div class="col-md-6 d-flex align-items-center">
				<form action="#" class="subscribe-form">
				<div class="form-group d-flex">
					<input type="text" class="form-control" placeholder="Digite seu email...">
					<input type="submit" value="Cadastrar" class="submit px-3">
				</div>
				</form>
			</div>
			</div>
		</div>
	</section>

    <footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
		  <div class="row mb-5">
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">SeuMarket</h2>
				<p>A Seu Market, é uma empresa focada em unir o comerciante local ao seu consumidor, de uma forma rápida, simples e efetivaefetiva. Obrigado por fazer parte desta história!</p>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				  <h2 class="ftco-heading-2">Dúvidas?</h2>
				  <div class="block-23 mb-3">
					<ul>
					  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">seumarket.contato@gmail.com</span></a></li>
					</ul>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-12 text-center">
  
			  <p>
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | SEU MARKET
						  </p>
			</div>
		  </div>
		</div>
	  </footer>

  
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        
		        e.preventDefault();
		        
		        var quantity = parseInt($('#quantity').val());
		       
		            
		            $('#quantity').val(quantity + 1);

		 
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		    
		        e.preventDefault();
		       
		        var quantity = parseInt($('#quantity').val());
		    
		      
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    
  </body>
</html>